<div class="home-center-container">
    <div class="ticket-container">
        <div class="price-container">
            <div class="round left"></div>
            <div class="round right"></div>
            <p>Price:</p>
            <div class="price">
                <mat-icon svgIcon="euro"></mat-icon>
                <p>350</p>
            </div>
        </div>
        <div class="route-container">
            <p class="departure common">Departure</p>
            <div class="line"></div>
            <div class="route-imag">
                <mat-icon svgIcon="train"></mat-icon>
            </div>
            <div class="line"></div>
            <p class="arrival common">Arrival</p>
        </div>

    </div>
    <div class="ticket-container">
        <div class="price-container">
            <div class="round left"></div>
            <div class="round right"></div>
            <p>Price:</p>
            <div class="price">
                <mat-icon svgIcon="euro"></mat-icon>
                <p>350</p>
            </div>
        </div>
        <div class="route-container">
            <p class="departure common">Departure</p>
            <div class="line"></div>
            <div class="route-imag">
                <mat-icon svgIcon="train"></mat-icon>
            </div>
            <div class="line"></div>
            <p class="arrival common">Arrival</p>
        </div>

    </div>
</div>
<div class="paginator">
    <p>circle</p>
    <p>circle</p>
</div>
