<div class="central-container">
    <nav class="nav-bar">
        <ul>
            <li><a (click)="toHomePage()">Home</a></li>
            <li><a (click)="toTicketsPage()">Tickets</a></li>
            <li><a (click)="toRoutePage()">Route</a></li>
        </ul>
    </nav>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>

    <div class="down-icons-container">
        <mat-icon svgIcon="home"></mat-icon>
        <mat-icon svgIcon="ticket"></mat-icon>
        <mat-icon svgIcon="route"></mat-icon>
    </div>

</div>
