<div class="central-container">
    <nav class="nav-bar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Tickets</a></li>
            <li><a href="">Route</a></li>
        </ul>
    </nav>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>

    <div class="down-icons-container">
        <mat-icon svgIcon="home"></mat-icon>
        <mat-icon svgIcon="ticket"></mat-icon>
        <mat-icon svgIcon="route"></mat-icon>
    </div>

</div>
