<div class="ticket-center-container">
    <form [formGroup]="routeForm" class="ticket-container">
        <div class="departure-container container">
            <label>Departure</label>
            <input type="text" formControlName="departure">
        </div>
        <div class="arrival-container container">
            <label>Arrival</label>
            <input type="text" formControlName ="arrival">
        </div>
        <div class="price-container container">
            <label>Price</label>
            <input type="text" formControlName="price">
        </div>
    </form>
</div>
<div class="search">
    <div class="inner-search-container">
        <button (click)="createRoute()">Add route</button>
    </div>
</div>
