<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <p>Baubau</p>
    </div>

<!--    <button  th:action = "hx-delete=@{/delete}" >-->
<!--        Delete-->
<!--    </button>-->

<!--    <div class="x">-->
<!--        xxxxxx-->
<!--    </div>-->
<div class="x">
    <button hx-delete="/delete"
            hx-swap ="outerHtml"
            hx-target = "closest .x"
    >
        Delete
    </button>

</div>



</body>
</html>
