<div class="left-container">
    <div class="wrapper-left">
        <div class="header">
            <h3>Trains Auth</h3>
        </div>

        <button class="btn-home"
                hx-get="/home-right"
                hx-trigger="click"
                hx-target=".right-container"
                hx-swap="outerHTML"
        >Home</button>

        <button class="btn-create"
                hx-get="/create"
                hx-trigger="click"
                hx-target=".right-container"
                hx-swap="outerHTML"
        >Create
        </button>

    </div>

    <div class="bottom-container-left">
        <form class="logout-wrapper" th:action="@{/logout}" method="post">
            <!--                <img src="../static/images/svg/logout.svg" alt="logout-svg" class="logout-svg">-->
            <img src="./images/svg/logout.svg" alt="logout-svg" class="logout-svg">
            <input class="btn-logout" type="submit" value="Logout">
        </form>
    </div>

</div>
