<div class="left-container">
    <div class="wrapper-left">
        <div class="header">
            <h3>Trains Auth</h3>
        </div>

        <button class="btn-create"
                hx-get="/create"
                hx-trigger="click"
                hx-target=".right-container"
                hx-swap="outerHTML"
        >Create
        </button>

        <button class="btn-home"
                hx-get="/home-right"
                hx-trigger="click"
                hx-target=".right-container"
                hx-swap="outerHTML"
        >Home</button>
    </div>

    <div class="bottom-container-left">
        <div class="logout-wrapper">
            <!--                <img src="../static/images/svg/logout.svg" alt="logout-svg" class="logout-svg">-->
            <img src="./images/svg/logout.svg" alt="logout-svg" class="logout-svg">
            <div class="btn-logout">Logout</div>
        </div>
    </div>

</div>
