<html  lang="en" xmlns:th="https://www.thymeleaf.org">

<div class="right-container" >
<!--<form th:action="@{/user}" method="get" th:object="${userSearch}" class="search-bar">-->
<!--    <div class="search-bar-wrapper">-->
<!--        &lt;!&ndash;                <img src="../static/images/svg/search.svg" alt="" class="search-svg">&ndash;&gt;-->
<!--        <img src="./images/svg/search.svg" alt="" class="search-svg">-->
<!--        <input th:field="*{partialEmail}" class="search">-->
<!--    </div>-->
<!--    <button class="btn-search"-->
<!--            hx-get="/user"-->
<!--            hx-trigger="click"-->
<!--            hx-target=".table-row"-->
<!--            hx-swap="outerHTML"-->
<!--    >Search-->
<!--    </button>-->
<!--</form>-->
    <form class="search-bar">
        <div class="search-bar-wrapper">
            <!--                <img src="../static/images/svg/search.svg" alt="" class="search-svg">-->
            <img src="./images/svg/search.svg" alt="" class="search-svg">
            <input name="partialEmail" class="search">
        </div>
        <button class="btn-search"
                hx-get="/user"
                hx-include="[name='partialEmail']"
                hx-trigger="click"
                hx-target=".row-wrapper"
                hx-swap="innerHTML"
        >Search
        </button>
    </form>

<div class="table">
    <div class="table-header">
        <div class="email">email</div>
        <div class="roles">roles</div>
        <div class="action pad">action</div>
    </div>
    <div class="row-wrapper">
        <div class="table-row"></div>
    </div>

</div>

<div
        hx-get="/users"
        hx-trigger="load"
        hx-target=".row-wrapper"
        hx-swap="innerHTML"
></div>

</div>

</html>



