<div class="right-container">
    <form class="search-bar">
        <div class="search-bar-wrapper">
            <!--                <img src="../static/images/svg/search.svg" alt="" class="search-svg">-->
            <img src="./images/svg/search.svg" alt="" class="search-svg">
            <!--  active search-->
            <input name="partialEmail" class="search"

                   hx-get="/user"
                   hx-include="[name='partialEmail']"
                   hx-trigger="input changed delay:500ms, search"
                   hx-target=".row-wrapper"
                   hx-swap="innerHTML"
            >
        </div>
        <button class="btn-search"
                hx-get="/user"
                hx-include="[name='partialEmail']"
                hx-trigger="click"
                hx-target=".row-wrapper"
                hx-swap="innerHTML"
        >Search
        </button>
    </form>

    <div class="table">
        <div class="table-header">
            <div class="email">email</div>
            <div class="roles">roles</div>
            <div class="action pad">action</div>
        </div>
        <div class="row-wrapper">
            <div class="table-row"></div>
        </div>

    </div>

    <div
            hx-get="/users"
            hx-trigger="load"
            hx-target=".row-wrapper"
            hx-swap="innerHTML"
    ></div>


</div>




