<!-- set hx-ext="response-targets" or the error response will not work-->
<div class="right-container" hx-ext="response-targets">
    <form class="form-container" th:action="@{/user}" method="post" th:object="${userRequest}">
        <div class="message">
            <div class="success-msg"></div>
            <div class="user-already-exists-error"></div>
            <div class="internal-server-error"></div>
        </div>
        <div class="form-group">
            <div class="group">
                <label>email</label>
                <input type="email" class="field" name="email" th:field="*{email}">
            </div>
            <div class="group">
                <label>password</label>
                <input type="password" class="field" name="password" th:field="*{password}">
            </div>

            <div class="authority" th:each="role: ${roles}">
                <input type="checkbox" th:field = "*{authorities}" th:value="${role}" name="authorities">
                <label th:text="${role}">admin</label>
            </div>
        </div>
<!--        merge si cu 4xx si cu 5**  https://htmx.org/extensions/response-targets/-->
        <button class="crt-button"
                hx-post="/user"
                hx-trigger="click"
                hx-target=".success-msg"
                hx-swap="outerHTML"
                hx-target-4xx=".user-already-exists-error"
                hx-target-5**=".internal-server-error"
        >create user
        </button>

    </form>
</div>

