<div class="ticket-center-container">
    @if (ticket()) {
        @for (ticket of ticket().ticketResponses; track $index) {
            <div class="ticket-container">
                <div class="price-container">
                    <div class="round left"></div>
                    <div class="round right"></div>
                    <p>Price:</p>
                    <div class="price">
                        <mat-icon svgIcon="euro"></mat-icon>
                        <p>{{ticket.price}}</p>
                    </div>
                </div>
                <div class="route-container">
                    <p class="departure common">{{ticket.startLocation}}</p>
                    <div class="line"></div>
                    <div class="route-imag">
                        <mat-icon svgIcon="train"></mat-icon>
                    </div>
                    <div class="line"></div>
                    <p class="arrival common">{{ticket.endLocation}}</p>
                </div>
            </div>
        }
    }
</div>

<div class="search">
    <div class="inner-search-container">
    <mat-icon svgIcon="search"></mat-icon>
        <input type="text">
        <button>Search</button>
    </div>
</div>
<div class="paginator">
    <div class="paginator">
        <mat-paginator #paginator
                       class="demo-paginator"
                       (page)="handlePageEvent($event)"
                       [length]="length"
                       [disabled]="disabled"
                       [showFirstLastButtons]=true
                       [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                       [hidePageSize]="hidePageSize"
                       [pageIndex]="pageIndex"
                       aria-label="Select page">
        </mat-paginator>
    </div>
</div>
