<div class="background-container">

    <div class="img-container">
        <img ngSrc="assets/pictures/main.jpg" alt="train-station.img" fill="none" fetchpriority="high" loading="eager">
    </div>

    <div class="main-container">
        <div class="center-container">
            <h4 class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, tempora.</h4>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ex labore perspiciatis quae unde
                voluptatem.</h3>
            <div class="icons">
                <mat-icon class="github" svgIcon="github"></mat-icon>
                <mat-icon class="linkedin" svgIcon="linkedin"></mat-icon>
            </div>
            <button class="login-btn" (click)="redirect()">GET ACCESS</button>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <footer>
            <p><span>S</span>uper<span>G</span>ini <span>&trade;</span></p>
        </footer>
    </div>



</div>
